<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Carport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/carport.css" th:href="@{/css/carport.css}" rel="stylesheet"/>
</head>


<body>

<div class="page" id="page">

    <header class="header-content" id="logo">
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/logo.svg" width="50%" th:src="@{/images/logo.svg}">
        </a>

        <div class="anvend-grid-her-hvis-der-skal-være-site-menu-knapper-maybe">

            <!--left topnote buttons, right topnote buttons-->
            <nav>

                <div class="left-nav" id="left-nav">
                    <!-- Currently left-nav only exists to keep reused CSS from messing up, change in future -->
                </div>

                <div class="right-nav" id="right-nav">

                    <!--            Not Logged In-->

                    <div class="underline-animation">
                        <!--            Looks nicer than a link-->
                        <form method="get" action="/create-account" class="inline"
                              th:if="${session.currentUser} == null">
                            <button type="submit" class="link-button" th:if="${session.currentUser} == null">Fog Konto
                            </button>
                        </form>
                    </div>

                    <div class="underline-animation">
                        <!--            Looks nicer than a link-->
                        <form method="get" action="/login" class="inline" th:if="${session.currentUser} == null">
                            <button type="submit" class="link-button" th:if="${session.currentUser} == null">Log Ind
                            </button>
                        </form>
                    </div>

                    <!--            Thymleaf shows above or below-->

                    <!--            Logged In-->
                    <span th:text="${session.currentUser.email}" th:if="${session.currentUser} != null">E-Mail</span>

                    <div class="underline-animation">
                        <!--            Looks nicer than a link-->
                        <form method="post" action="/logout" class="inline" th:if="${session.currentUser} != null">
                            <button type="submit" class="link-button" th:if="${session.currentUser} != null">Log Ud
                            </button>
                        </form>
                    </div>

                </div>

            </nav>
        </div>
    </header>

</div>

</body>
</html>