<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title, customStyle)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/{cs}(cs=${customStyle}+'.css')}" rel="stylesheet"/>
</head>

<body>


<header class="header-content" id="logo" th:fragment="header">
    <a href="index.html" th:href="@{/}">
        <img src="../public/images/logo.svg" width="50%" th:src="@{/images/logo.svg}">
    </a>

    <div class="anvend-grid-her-hvis-der-skal-være-site-menu-knapper-maybe">

        <!--left topnote buttons, right topnote buttons-->
        <nav>

            <div class="left-nav" id="left-nav">
                <!-- Currently left-nav only exists to keep reused CSS from messing up, change in future -->
            </div>

            <div class="right-nav" id="right-nav">

                <!--            Not Logged In-->

                <div class="underline-animation">
                    <!--            Looks nicer than a link-->
                    <form method="get" action="/create-account/" class="inline"
                          th:if="${session.currentUser} == null">
                        <button type="submit" class="link-button" th:if="${session.currentUser} == null">Opret
                        </button>
                    </form>
                </div>

                <div class="underline-animation">
                    <!--            Looks nicer than a link-->
                    <form method="get" action="/login/" class="inline" th:if="${session.currentUser} == null">
                        <button type="submit" class="link-button" th:if="${session.currentUser} == null">Fog Konto
                        </button>
                    </form>
                </div>

                <div class="underline-animation">
                    <!--            Looks nicer than a link-->
                    <form method="get" action="/reset-account-password/" class="inline"
                          th:if="${session.currentUser} == null">
                        <button type="submit" class="link-button" th:if="${session.currentUser} == null">Glemt kodeord
                        </button>
                    </form>
                </div>

                <!--            Thymleaf shows above or below-->

                <!--            Logged In-->
                <span th:text="${session.currentUser.email}" th:if="${session.currentUser} != null">E-Mail</span>

                <div class="underline-animation">
                    <!--            Looks nicer than a link-->
                    <form method="get" action="/carport/order-history/" class="inline"
                          th:if="${session.currentUser} != null">
                        <button type="submit" class="link-button" th:if="${session.currentUser} != null">Ordrehistorik
                        </button>
                    </form>
                </div>

                <div class="underline-animation">
                    <!--            Looks nicer than a link-->
                    <form method="post" action="/logout/" class="inline" th:if="${session.currentUser} != null">
                        <button type="submit" class="link-button" th:if="${session.currentUser} != null">Log Ud
                        </button>
                    </form>
                </div>

            </div>

        </nav>
    </div>
</header>


<!--Back and forth Buttons-->

<nav class="buy-flow-nav" th:fragment="buy-flow-nav (backText, confirmText)">
    <div class="underline-animation" id="back">
        <button type="submit" class="link-button"
                formmethod="post" formaction="back"
                th:text="${backText}"> SET BACK TEXT
        </button>
    </div>

    <div class="underline-animation" id="confirm">
        <button type="submit" class="link-button"
                formmethod="post" formaction="confirm"
                th:text="${confirmText}"> SET CONFIRM TEXT
        </button>
    </div>
</nav>

<footer class="footer-content" th:fragment="footer">
    <h3>Hos Fog værdsætter vi din holdning. Er der noget vi kan gøre bedre? Så giv os besked!</h3>
    <div class="underline-animation">
        <form method="get" action="/feedback/" class="inline">
            <button type="submit" class="link-button">Giv feedback</button>
        </form>
    </div>
</footer>

</body>
</html>