<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>


<body>

<div class="page" id="page">

    <header class="header-content" id="logo">
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/logo.svg" width="50%" th:src="@{/images/logo.svg}">
        </a>

        <div class="anvend-grid-her-hvis-der-skal-være-site-menu-knapper-maybe">

            <!--left topnote buttons, right topnote buttons-->
            <nav>

                <div class="left-nav" id="left-nav">
                    <!-- Currently left-nav only exists to keep reused CSS from messing up, change in future -->
                </div>

                <div class="right-nav" id="right-nav">

                    <!--            Not Logged In-->

                    <div class="underline-animation">
                        <!--            Looks nicer than a link-->
                        <form method="get" action="/create-account" class="inline"
                              th:if="${session.currentUser} == null">
                            <button type="submit" class="link-button" th:if="${session.currentUser} == null">Opret
                            </button>
                        </form>
                    </div>

                    <div class="underline-animation">
                        <!--            Looks nicer than a link-->
                        <form method="get" action="/login" class="inline" th:if="${session.currentUser} == null">
                            <button type="submit" class="link-button" th:if="${session.currentUser} == null">Fog Konto
                            </button>
                        </form>
                    </div>

                    <div class="underline-animation">
                        <!--            Looks nicer than a link-->
                        <form method="get" action="/reset" class="inline" th:if="${session.currentUser} == null">
                            <button type="submit" class="link-button" th:if="${session.currentUser} == null">Glemt kodeord
                            </button>
                        </form>
                    </div>

                    <!--            Thymleaf shows above or below-->

                    <!--            Logged In-->
                    <span th:text="${session.currentUser.email}" th:if="${session.currentUser} != null">E-Mail</span>

                    <div class="underline-animation">
                        <!--            Looks nicer than a link-->
                        <form method="post" action="/logout" class="inline" th:if="${session.currentUser} != null">
                            <button type="submit" class="link-button" th:if="${session.currentUser} != null">Log Ud
                            </button>
                        </form>
                    </div>

                </div>

            </nav>
        </div>
    </header>


        <div class="content" id="content">

            <h1>Dette er en ultra primitiv placeholder</h1>
            <h1>Og her kommer til at være to større links</h1>
            <h1>Til hhv standard carporte og custom carporte</h1>
            <nav>
                <div class="underline-animation">
                    <form method="get" action="https://www.johannesfog.dk/have-fritid/carporte" class="inline">
                        <button type="submit" class="link-button">Standard Carporte</button>
                    </form>
                </div>

                <div class="underline-animation">
                    <form method="get" action="/carport" class="inline">
                        <button type="submit" class="link-button">Design egen carport</button>
                    </form>
                </div>
            </nav>

        </div>

    <footer class="footer-content">
        <h3>Hos Fog værdsætter vi din holdning. Er der noget vi kan gøre bedre? Så giv os besked!</h3>
        <div class="underline-animation">
            <form method="get" action="/feedback" class="inline">
                <button type="submit" class="link-button">Giv feedback</button>
            </form>
        </div>
    </footer>

</div>

</body>
</html>
