<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Frontpage')}"></div>


<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>


    <div class="content" id="content">

        <h1>Dette er en ultra primitiv placeholder</h1>
        <h1>Og her kommer til at være to større links</h1>
        <h1>Til hhv standard carporte og custom carporte</h1>
        <nav>
            <div class="underline-animation">
                <form method="get" action="https://www.johannesfog.dk/have-fritid/carporte" class="inline">
                    <button type="submit" class="link-button">Standard Carporte</button>
                </form>
            </div>

            <div class="underline-animation">
                <form method="get" action="/carport" class="inline">
                    <button type="submit" class="link-button">Design egen carport</button>
                </form>
            </div>
        </nav>

    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>
