<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Skitse af Carport','users/buyFlow/carport-2-drawing')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <form id="form">
            <div class="carport-svg-topview">

                <div th:utext="${svg}"></div>

            </div>

            <div th:replace="~{fragments :: buy-flow-nav ('Til Carport Mål', 'Til Leverings Info')}"></div>

        </form>


    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>