<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Regning','users/buyFlow/carport-bill-pay-up')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <div class="form-header">
            <h1>Email eksempel</h1>
        </div>

        <div class="mail">
            <!--Et hurtigt forsøg mix, men siden is messed up-->
            <div class="mail-body">
                <p>Hej <span th:text="${accountInfo.fullName}">"Name of client"</span></p>
                <br>
                <p>Tak for din ordre af en skræddersyet carport på mål fra Fogs trælast. Vi har modtaget din ordre og
                    sørger
                    for at alt er i orden inden forsendelse. Ellers kontakter vi dig og giver yderligere
                    information.</p>
                <br>
                <p>Har du spørgsmål til os kan du naturligvis altid kontakte os i åbningstiderne, eller ved at logge ind
                    på vores
                    hjemmeside. Hvis du bestilte en carport uden at have en eksisterende Fog konto kan du anvende
                    feedback siden
                    med dit ordrenr.</p>
                <br>
                <p>Din ordre:</p>
            </div>

            <div class="order-specifics">
                <p style="white-space: pre-line" th:text="${session.currentOrder}">Order id, price, one date,
                    comment</p>
                <br>
            </div>

            <div class="order-measurements">
                <p style="white-space: pre-line" th:text="${session.currentOrder.carport}">Height, width, length</p>
                <br>
            </div>

            <div class="mail-end">
                <button type="submit" class="buy">Betal for din ordre</button>
                <br>
                <p>Venlig hilsen</p>
                <br>
                <p>Fog trælast</p>
            </div>

        </div>

    </div>

</div>

</body>
</html>