<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Carport Historik','users/buyFlow/carport-order-history')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <div class="history-intro">
            <span th:if="*{session.currentUser.role != null}? ${session.currentUser.role == 'user'}">Dine bestillinger:</span>
            <span th:if="*{session.currentUser.role != null}? ${session.currentUser.role == 'admin'}">Modtagne bestillinger:</span>
        </div>

        <div>
            <p class="error-msg" style="white-space: pre-line"
               th:unless="${#strings.isEmpty(msg)}"
               th:text="${msg}"></p>
        </div>

    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>