<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Recept','users/buyFlow/carport-5-receipt')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <div class="carport-form">

            <div class="form-header">
                <h1>Kvittering</h1>
<!--                <p>Fortsæt til næste side til betaling</p>-->
            </div>

            <form class="overview" id="form">

                <div>
                    <p style="white-space: pre-line"
                       th:text="${session.completedOrder.receipt}"></p>
                </div>

                <div>
                    <p class="error-msg" style="white-space: pre-line" th:unless="${#strings.isEmpty(msg)}"
                       th:text="${msg}"></p>
                </div>

                <nav class="buy-flow-nav">
                <div th:replace="~{fragments :: buy-flow-nav-back ('Ny Bestilling')}"></div>
                </nav>

            </form>

        </div>


    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>