<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Recept','users/buyFlow/receipt')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">


        <form>

            <div th:replace="~{fragments :: buy-flow-nav ('Tilbage til din oversigt', 'Til regning')}"></div>

        </form>

    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>