<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Bekræft Bestilling af Carport','users/buyFlow/carport-4-review-and-confirm')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <div class="carport-form">

            <div class="form-header">
                <h1>Bekræft din bestilling</h1>
                <p>Er alt i orden?</p>
            </div>

            <form class="overview">

                <div>
                    <p style="white-space: pre-line"
                       th:text="${session.currentOrder.confirm}"></p>
                </div>

                <div>
                    <p class="error-msg" style="white-space: pre-line" th:unless="${#strings.isEmpty(msg)}"
                       th:text="${msg}"></p>
                </div>

                <div th:replace="~{fragments :: buy-flow-nav ('Rediger Bestilling', 'Bekræft Bestilling')}"></div>

            </form>

        </div>

    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>