<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Carport','users/buyFlow/carport-1-2-forms')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <div class="carport-form">

            <div class="form-header">
                <h1>Bestil Quick-Byg tilbud - carport med fladt tag</h1>
                <p>Udfyld formularen omhyggeligt og klik på "Bestil", så kan vi hurtigt beregne en pris og skabe en
                    skitsetegning</p>
                <p>Felter markeret med * SKAL udfyldes</p>
            </div>

            <form class="order" method="post">

                <div class="carport-dropdown-form">

                    <div class="text-field">
                        <label class="dropdown-label" for="carportHeight">Carport højden i m*</label>
                        <div>
                            <p class="error-msg" style="white-space: pre-line"
                               th:unless="${#strings.isEmpty(msgCarportHeight)}"
                               th:text="${msgCarportHeight}"></p>
                        </div>
                        <div class="text-field">
                            <input type="number" name="carportHeight" id="carportHeight"
                                   placeholder="F.eks. 2.30"
                                   step="0.01"
                                   th:min="${session.minimumHeightInM}"
                                   th:max="${session.maximumHeightInM}"
                                   th:value="${session.currentOrder.carport.heightInM}"
                                   th:text="'Min: ' + ${session.minimumHeightInM} + ' m | Max: ' + ${session.maximumHeightInM} + ' m'">
                        </div>
                    </div>

                    <div class="text-field">
                        <label class="dropdown-label" for="carportLength">Carport længden i m*</label>
                        <div>
                            <p class="error-msg" style="white-space: pre-line"
                               th:unless="${#strings.isEmpty(msgCarportLength)}"
                               th:text="${msgCarportLength}"></p>
                        </div>
                        <div class="text-field">
                            <input type="number" name="carportLength" id="carportLength"
                                   placeholder="F.eks. 5.50"
                                   step="0.01"
                                   th:min="${session.minimumLengthInM}"
                                   th:max="${session.maximumLengthInM}"
                                   th:value="${session.currentOrder.carport.lengthInM}"
                                   th:text="'Min: ' + ${session.minimumLengthInM} + ' m | Max: ' + ${session.maximumLengthInM} + ' m'">
                        </div>
                    </div>

                    <div class="text-field">
                        <label class="dropdown-label" for="carportWidth">Carport bredden i m*</label>
                        <div>
                            <p class="error-msg" style="white-space: pre-line"
                               th:unless="${#strings.isEmpty(msgCarportWidth)}"
                               th:text="${msgCarportWidth}"></p>
                        </div>
                        <div class="text-field">
                            <input type="number" name="carportWidth" id="carportWidth"
                                   placeholder="F.eks. 4.20"
                                   step="0.01"
                                   th:min="${session.minimumWidthInM}"
                                   th:max="${session.maximumWidthInM}"
                                   th:value="${session.currentOrder.carport.widthInM}"
                                   th:text="'Min: ' + ${session.minimumWidthInM} + ' m | Max: ' + ${session.maximumWidthInM} + ' m'">
                        </div>
                    </div>


                    <!--                        <div class="text-field">-->
                    <!--                            <label class="dropdown-label" for="carportRoof">Carport trapeztag*</label>-->
                    <!--                            <select name="carportRoof" id="carportRoof">-->
                    <!--                                <option value="" disabled selected></option>-->
                    <!--                                <option value="Uden tagplader">Uden tagplader</option>-->
                    <!--                                <option value="Plasttrapezplader">Plasttrapezplader</option>-->

                    <!--                            </select>-->
                    <!--                        </div>-->

                    <!--                        <p>-->
                    <!--                            <b>Redskabsrum</b>-->
                    <!--                            <br>-->
                    <!--                            Bemærk! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*-->
                    <!--                        </p>-->

                    <!--                        <div class="text-field">-->
                    <!--                            <label class="dropdown-label" for="toolshedWidth">Redskabsrum bredde i cm*</label>-->
                    <!--                            <input type="number" name="toolshedWidth" id="toolshedWidth"-->
                    <!--                                   placeholder="fra 100 cm til carportens bredde i cm minus 30 cm ">-->

                    <!--                        </div>-->


                    <!--                        <div class="text-field">-->
                    <!--                            <label class="dropdown-label" for="toolshedLength">Redskabsrum længde i cm*</label>-->
                    <!--                            <input type="number" name="toolshedLength" id="toolshedLength"-->
                    <!--                                   placeholder="fra 100 cm til carportens længde i cm minus 30 cm ">-->
                    <!--                        </div>-->


                    <div class="carport-remarks">
                        <label class="dropdown-label">Evt. bemærkning / særlige ønsker</label>
                        <div class="wrap">
                            <textarea class="Message-box" name="Message" id="Message"
                                      th:text="${session.currentOrder.carport.comment}"></textarea>
                        </div>
                    </div>

                    <div>
                        <p class="error-msg" style="white-space: pre-line" th:unless="${#strings.isEmpty(msg)}"
                           th:text="${msg}"></p>
                    </div>

                    <div th:replace="~{fragments :: buy-flow-nav ('Til forside', 'Til Tegning')}"></div>

                </div>

            </form>
        </div>


    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>