<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Carport','users/buyFlow/carport-1-2-forms')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <div class="carport-form">

            <div class="form-header">
                <h1>Bestil Quick-Byg tilbud - carport med fladt tag</h1>
                <p>Udfyld formularen omhyggeligt og klik på "Bestil", så kan vi hurtigt beregne en pris og skabe en
                    skitsetegning</p>
                <p>Felter markeret med * SKAL udfyldes</p>
            </div>

            <form class="order" method="post">

                <div class="carport-dropdown-form">

                    <div class="text-field">
                        <label class="dropdown-label" for="carportWidth">Carport bredde i cm*</label>
                        <div class="text-field">
                            <input type="number" name="carportWidth" id="carportWidth"
                                   placeholder="fra 50 cm til 600 cm">
                        </div>
                    </div>

                    <div class="text-field">
                        <label class="dropdown-label" for="carportLength">Carport længde i cm*</label>
                        <div class="text-field">
                            <input type="number" name="carportLength" id="carportLength"
                                   placeholder="fra 50 cm til 2.000 cm">
                        </div>
                    </div>

                    <div class="text-field">
                        <label class="dropdown-label" for="carportHeight">Carport højde i cm*</label>
                        <div class="text-field">
                            <input type="number" name="carportHeight" id="carportHeight"
                                   placeholder="fra 200 cm til 600 cm">
                        </div>
                    </div>

                    <!--                        <div class="text-field">-->
                    <!--                            <label class="dropdown-label" for="carportRoof">Carport trapeztag*</label>-->
                    <!--                            <select name="carportRoof" id="carportRoof">-->
                    <!--                                <option value="" disabled selected></option>-->
                    <!--                                <option value="Uden tagplader">Uden tagplader</option>-->
                    <!--                                <option value="Plasttrapezplader">Plasttrapezplader</option>-->

                    <!--                            </select>-->
                    <!--                        </div>-->

                    <!--                        <p>-->
                    <!--                            <b>Redskabsrum</b>-->
                    <!--                            <br>-->
                    <!--                            Bemærk! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*-->
                    <!--                        </p>-->

                    <!--                        <div class="text-field">-->
                    <!--                            <label class="dropdown-label" for="toolshedWidth">Redskabsrum bredde i cm*</label>-->
                    <!--                            <input type="number" name="toolshedWidth" id="toolshedWidth"-->
                    <!--                                   placeholder="fra 100 cm til carportens bredde i cm minus 30 cm ">-->

                    <!--                        </div>-->


                    <!--                        <div class="text-field">-->
                    <!--                            <label class="dropdown-label" for="toolshedLength">Redskabsrum længde i cm*</label>-->
                    <!--                            <input type="number" name="toolshedLength" id="toolshedLength"-->
                    <!--                                   placeholder="fra 100 cm til carportens længde i cm minus 30 cm ">-->
                    <!--                        </div>-->


                    <div class="carport-remarks">
                        <label class="dropdown-label">Evt. bemærkning / særlige ønsker</label>
                        <div class="wrap">
                            <textarea class="Message-box" name="Message" id="Message"></textarea>
                        </div>
                    </div>

                    <div>
                        <p class="error-msg" style="white-space: pre-line" th:unless="${#strings.isEmpty(msg)}"
                           th:text="${msg}"></p>
                    </div>

                    <div th:replace="~{fragments :: buy-flow-nav ('Til forside', 'Til Tegning')}"></div>

                </div>

            </form>
        </div>


    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>