<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Regning','users/buyFlow/carport-bill-pay-up')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <div class="form-header">
            <h1>Betaling</h1>
            <p>Klik på nedenstående link for at betale din ordre.</p>
        </div>

        <form>

            <div th:replace="~{fragments :: buy-flow-nav ('Tilbage til din recept', 'Betal Regning')}"></div>

        </form>

    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>