<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: user-head('Carport','carport')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <h1>Her kommer vores design choices og indtast af mål fx til at være</h1>
        <nav>
            <div class="underline-animation">
                <form method="get" action="/order-carport" class="inline">
                    <button type="submit" class="link-button">Bestil carport</button>
                </form>
            </div>
        </nav>

    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>