<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: user-head('Carport','carport')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <h1>Bestil Quick-Byg tilbud - carport med fladt tag</h1>
        <p>Udfyld formularen omhyggeligt og klik på "Bestil", så kan vi hurtigt beregne en pris og skabe en skitsetegning</p>
        <p>Felter markeret med * SKAL udfyldes</p>

        <div class="carport-form">
            <form class="order" method="post">
                <div class="carport-dropdown-form">

                    <div class="carport-dropdowns">
                        <label class="dropdown-label" for="carportWidth">Carport bredde*</label>
                        <select required name="carportWidth" id="carportWidth">
                            <option value="" disabled selected></option>
                            <option value="240 cm">240 cm</option>
                            <option value="270 cm">270 cm</option>
                            <option value="300 cm">300 cm</option>
                            <option value="330 cm">330 cm</option>
                            <option value="360 cm">360 cm</option>
                            <option value="390 cm">390 cm</option>
                            <option value="420 cm">420 cm</option>
                            <option value="450 cm">450 cm</option>
                            <option value="480 cm">480 cm</option>
                            <option value="510 cm">510 cm</option>
                            <option value="540 cm">540 cm</option>
                            <option value="570 cm">570 cm</option>
                            <option value="600 cm">600 cm</option>

                            <!--<option th:each="cupcakebottom : ${session.Map}" //TODO
                                    th:value="${cupcakebottom.value.Id}"
                                    th:text="${cupcakebottom.value.order}">
                            </option>-->

                        </select>
                    </div>

                    <div class="carport-dropdowns">
                        <label class="dropdown-label" for="carportLength">Carport længde*</label>
                        <select required name="carportLength" id="carportLength">
                            <option value="" disabled selected></option>
                            <option value="240 cm">240 cm</option>
                            <option value="270 cm">270 cm</option>
                            <option value="300 cm">300 cm</option>
                            <option value="330 cm">330 cm</option>
                            <option value="360 cm">360 cm</option>
                            <option value="390 cm">390 cm</option>
                            <option value="420 cm">420 cm</option>
                            <option value="450 cm">450 cm</option>
                            <option value="480 cm">480 cm</option>
                            <option value="510 cm">510 cm</option>
                            <option value="540 cm">540 cm</option>
                            <option value="570 cm">570 cm</option>
                            <option value="600 cm">600 cm</option>
                            <option value="630 cm">630 cm</option>
                            <option value="660 cm">660 cm</option>
                            <option value="690 cm">690 cm</option>
                            <option value="720 cm">720 cm</option>
                            <option value="750 cm">750 cm</option>
                            <option value="780 cm">780 cm</option>

                            <!--<option th:each="cupcakebottom : ${session.Map}" //TODO
                                    th:value="${cupcakebottom.value.Id}"
                                    th:text="${cupcakebottom.value.order}">
                            </option>-->

                        </select>
                    </div>

                    <div class="carport-dropdowns">
                        <label class="dropdown-label" for="carportRoof">Carport trapeztag*</label>
                        <select required name="carportRoof" id="carportRoof">
                            <option value="" disabled selected></option>
                            <option value="Uden tagplader">Uden tagplader</option>
                            <option value="Plasttrapezplader">Plasttrapezplader</option>

                            <!--<option th:each="cupcakebottom : ${session.Map}" //TODO
                                    th:value="${cupcakebottom.value.Id}"
                                    th:text="${cupcakebottom.value.order}">
                            </option>-->

                        </select>
                    </div>

                    <p>
                        <b>Redskabsrum</b>
                        <br>
                        Bemærk! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*
                    </p>

                    <div class="carport-dropdowns">
                        <label class="dropdown-label" for="toolshedWidth">Redskabsrum bredde*</label>
                        <select required name="toolshedWidth" id="toolshedWidth">
                            <option value="" disabled selected></option>
                            <option value="Uden redskabsrum">Uden redskabsrum</option>
                            <option value="210 cm">210 cm</option>
                            <option value="240 cm">240 cm</option>
                            <option value="270 cm">270 cm</option>
                            <option value="300 cm">300 cm</option>
                            <option value="330 cm">330 cm</option>
                            <option value="360 cm">360 cm</option>
                            <option value="390 cm">390 cm</option>
                            <option value="420 cm">420 cm</option>
                            <option value="450 cm">450 cm</option>
                            <option value="480 cm">480 cm</option>
                            <option value="510 cm">510 cm</option>
                            <option value="540 cm">540 cm</option>
                            <option value="570 cm">570 cm</option>
                            <option value="600 cm">600 cm</option>
                            <option value="630 cm">630 cm</option>
                            <option value="660 cm">660 cm</option>
                            <option value="690 cm">690 cm</option>
                            <option value="720 cm">720 cm</option>

                            <!--<option th:each="cupcakebottom : ${session.Map}" //TODO
                                    th:value="${cupcakebottom.value.Id}"
                                    th:text="${cupcakebottom.value.order}">
                            </option>-->

                        </select>
                    </div>

                    <div class="carport-dropdowns">
                        <label class="dropdown-label" for="toolshedLength">Redskabsrum længde*</label>
                        <select name="toolshedLength" id="toolshedLength">
                            <option value="" disabled selected></option>
                            <option value="Uden redskabsrum">Uden redskabsrum</option>
                            <option value="150 cm">150 cm</option>
                            <option value="180 cm">180 cm</option>
                            <option value="210 cm">210 cm</option>
                            <option value="240 cm">240 cm</option>
                            <option value="270 cm">270 cm</option>
                            <option value="300 cm">300 cm</option>
                            <option value="330 cm">330 cm</option>
                            <option value="360 cm">360 cm</option>
                            <option value="390 cm">390 cm</option>
                            <option value="420 cm">420 cm</option>
                            <option value="450 cm">450 cm</option>
                            <option value="480 cm">480 cm</option>
                            <option value="510 cm">510 cm</option>
                            <option value="540 cm">540 cm</option>
                            <option value="570 cm">570 cm</option>
                            <option value="600 cm">600 cm</option>
                            <option value="630 cm">630 cm</option>
                            <option value="660 cm">660 cm</option>

                            <!--<option th:each="cupcakebottom : ${session.Map}" //TODO
                                    th:value="${cupcakebottom.value.Id}"
                                    th:text="${cupcakebottom.value.order}">
                            </option>-->

                        </select>
                    </div>

                    <div class="carport-remarks">
                        <label class="dropdown-label">Evt. bemærkning / særlige ønsker</label>
                        <div class="wrap">
                            <textarea class="Message-box" name="Message" id="Message"></textarea>
                        </div>
                    </div>

                    <hr>
                    <p>
                        <b>Kontaktoplysninger:</b>
                    </p>

                    <input type="text" id="email" name="email" required placeholder="Email"><br>

                </div>
            </form>
        </div>

        <nav>
            <div class="underline-animation">
                <form method="get" action="/confirm-carport" class="inline">
                    <button type="submit" class="link-button">Bestil carport</button>
                </form>
            </div>
        </nav>

        <svg width="900" height="700" viewBox="0 0 900 700">
            <rect x="0" y="0" height="700" width="900" style="stroke: #000000; stroke-width: 1px; fill: none"/></rect>

            <svg x="80" y="20" width="800" height="600" viewBox="0 0 800 600">
            <rect x="0" y="0" height="600" width="800" style="stroke: #000000; stroke-width: 1px; fill: #ffffff"/></rect>
<!--            <rect x="0" y="0" width="10" height="500" style="stroke: black; fill: none"></rect>-->
<!--            <rect x="10" y="50" width="900" height="10" style="stroke: black; fill: none"></rect>-->
<!--            <rect x="10" y="450" width="900" height="10" style="stroke: black; fill: none"></rect>-->
<!--            <line x1="100" y1="60" x2="800" y2="450" style="stroke: black; stroke-dasharray: 9" ></line>-->
<!--            <rect x="790" y="445" width="20" height="20" style="stroke: black; fill: none"></rect>-->

                <!-- Remme -->
                <rect x="0" y="35" height="4.5" width="800" style="stroke:#000000; fill: #ffffff" />
                <rect x="0" y="565" height="4.5" width="800" style="stroke:#000000; fill: #ffffff" />

                <!-- Spær -->
                <rect x="0" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" />
                <rect x="795.5" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" />

                <!-- Kryds -->
                <line x1="65" y1="35" x2="610" y2="569.5" style="stroke:#000000; stroke-dasharray: 5 5;" />
                <line x1="65" y1="569.5" x2="610" y2="35" style="stroke:#000000; stroke-dasharray: 5 5;" />

                <!-- Stolper -->
                <rect x="110" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                <rect x="420" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                <rect x="730" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                <rect x="110" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                <rect x="420" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                <rect x="730" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
            </svg>
            <defs>
                <marker id="beginArrow" markerWidth="12" markerHeight="12" refX="0" refY="6" orient="auto"> <path d="M0,6 L12,0 L12,12 L0,6" style="fill: #000000;" /> </marker>
                <marker id="endArrow" markerWidth="12" markerHeight="12" refX="12" refY="6" orient="auto"> <path d="M0,0 L12,6 L0,12 L0,0 " style="fill: #000000;"/> </marker>
            </defs>
            <line x1="50" y1="620" x2="50" y2="20" style="stroke:#000000; marker-end: url(#endArrow); marker-start: url(#beginArrow);"></line>
            <line x1="80" y1="650" x2="880" y2="650" style="stroke:#000000; marker-end: url(#endArrow); marker-start: url(#beginArrow);"></line>
            <text style="text-anchor: middle" transform="translate(30,300) rotate(-90)">600 cm</text>
            <text style="text-anchor: middle" transform="translate(420,680)">800 cm</text>

        </svg>

    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>