<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: sub-head('Konto Historik','history')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <h1>Din ordrehistorik:</h1>
        <h2>Egetræ 6 meter</h2>
        <h2>Tagbræder 24 stk</h2>
        <h2>Fuglehus 1 stk</h2>

    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>