.content {
    margin-top: 20px;
}

.form-header {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.overview {
    padding-left: 8%;
    padding-right: 8%;
}

@media screen and (max-width: 680px) {
    .overview {
        padding-left: 5%;
        padding-right: 5%;
    }
}