label {
    font-weight: bold;
}

.carport-form {
    padding-top: 1px;
    margin-top: 20px;
}

.form-header {
    display: flow;

    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.carport-dropdown-form {
    display: flex;
    flex-direction: column;

    padding-left: 18%;
    padding-right: 18%;
    gap: 10px;
}

.carport-dropdowns {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
}

.carport-dropdowns label {
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: black;
}

.carport-dropdowns select {
    flex-grow: 1;
    min-height: 1.2rem;

    font-size: 1rem;

    border-radius: 1px;

    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: black;
}


.carport-remarks {
    border-bottom: solid 2px dimgrey;

    /*margin-bottom: 10px;*/
    padding-bottom: 10px;
}

.dropdown-label {
    margin-bottom: 4px;
}

textarea {
    display: flex;
    flex-grow: 1;

    margin-top: 4px;

    width: 99%;
    min-width: 10rem;

    max-height: 4.8rem;
    min-height: 3rem;

    border-radius: 4px;
}

.text-field {
    margin-top: 4px;

    border-radius: 4px;
}

input[type=text] {
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 4px;

    width: 99%;

    border: 1px solid dimgrey;
    border-radius: 4px;
}

input::placeholder {
    font-size: 0.9rem;
}










