<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{fragments :: head('Admin History','admins/buyFlow/carport-admin-order-history')}"></div>

<body>

<div class="page" id="page">

    <div th:replace="~{fragments :: header}"></div>

    <div class="content" id="content">

        <div th:each="fullHistoryEntry : ${session.fullHistory}">
            <!--            <div th:value="fullHistory.key">-->
            <!--                &lt;!&ndash; User Id, can be null &ndash;&gt;-->
            <!--            </div>-->

            <!--            <div th:value="fullHistory.value">-->
            <!--                &lt;!&ndash; FullHistory Entity&ndash;&gt;-->
            <!--            </div>-->

            <h2 class="order-meta" style="white-space: pre-wrap;"
                  th:if="${fullHistoryEntry.value.user !=  null}"
                  th:text="${fullHistoryEntry.value.user.string}">
            </h2>

            <h2 class="order-meta" style="white-space: pre-wrap;"
                  th:if="${fullHistoryEntry.value.user ==  null}"
                  th:text="'Ingen Bruger'">
            </h2>

            <div th:each="acountInfoAndOrdersEntry : ${fullHistoryEntry.value.ordersByAccountInfo}">

                <!--                <div th:value="acountInfoAndOrdersEntry.key">-->
                <!--                    &lt;!&ndash; AccountInfo Entity &ndash;&gt;-->
                <!--                </div>-->
                <!--                <div th:value="acountInfoAndOrdersEntry.value">-->
                <!--                    &lt;!&ndash; Map< orderId, Order > &ndash;&gt;-->
                <!--                </div>-->

                <h3 class="order-meta" style="white-space: pre-wrap;"
                      th:text="${acountInfoAndOrdersEntry.key.string}">
                    </h3>

                <div th:each="orderEntry : ${acountInfoAndOrdersEntry.value}">

                    <!--                    <div th:value="orderEntry.key">-->
                    <!--                        &lt;!&ndash; Order Id &ndash;&gt;-->
                    <!--                    </div>-->

                    <!--                    <div th:value="orderEntry.value">-->
                    <!--                        &lt;!&ndash; Order Entity &ndash;&gt;-->
                    <!--                    </div>-->
                    <form method="post">

                    <p class="order-content" style="white-space: pre-wrap;"
                          th:text="${orderEntry.value.string}">
                        </p>

                        <input type="hidden" id="orderPrice" name="orderPrice"
                               th:value="${orderEntry.value.priceSuggested}">
                        </input>

                        <input type="hidden" id="orderId" name="orderId"
                               th:value="${orderEntry.key}">
                        </input>

                        <span class="order-buttons-surround-span">

                        <span id="order-button-approve" class="order-button-span"
                              th:if="${orderEntry.value.dateApproved == null}">

                            <button id="approve-button" class="order-button" type="submit"
                                    formaction="approve"
                                    th:if="${orderEntry.value.dateApproved == null}"
                            >Godkend
                            </button>

                        </span>

<!--                        <span id="order-button-done" class="order-button-span">-->

<!--                            <button id="done-button" class="order-button" type="submit"-->
<!--                                    formaction="done">Færdig-->
<!--                            </button>-->

<!--                        </span>-->

<!--                        <span id="order-button-remove" class="order-button-span">-->

<!--                            <button id="remove-button" class="order-button" type="submit"-->
<!--                                    formaction="remove">Fjern-->
<!--                            </button>-->

<!--                        </span>-->


                    </span>

                    </form>

                </div>

            </div>

        </div>


    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>