.create {
    display: flex;
    justify-content: center;
    align-content: center;
}

form{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.create-div {
    display: flex;

    width: 270px;
    margin-bottom: 15px;

    border: 2px solid black;
    border-radius: 16px;

    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;

    background-color: cornflowerblue;
}

.create-div i {
    padding: 8px 16px;
    color: #0CD6A8;
}

.create-div input {
    border: 0px solid #C1C1C1;
    /*border-radius: 16px;*/
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;

    margin-left: 5px;
    margin-top: -3px;
    /*margin-top: 5px;*/
    margin-bottom: -3px;
    padding-left: 5px;

    width: 100%;
    outline: none;
    /*height: 30px;*/
    font-size: 18px;

    /*background-color: #EDEDED;*/
}

.user-icon {
    background: url("../../../images/user-icon.png");

    padding: 10px;
    margin-left: 3px;

    height: 24px;
    display: block;

    text-align: center;
}

.password-icon {
    background: url("../../../images/password-icon.png");

    padding: 10px;

    width: 4px;
    height: 24px;
    display: block;

    text-align: center;
}

#create-button {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.create-account-div {
    display: flex;
    justify-content: center;

    font-size: 1.3rem;
    font-family: Arial, serif;
}